@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.card_cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color;
}

.card_cover:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
180deg
, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.9) 100%);
    opacity: 0.1;
    transition: 0.5s;
}
.card:hover .card__add {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.card_cover img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
img {
    vertical-align: middle;
    border-style: none;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.card:hover .card_cover img {
    transform: scale(1.06);
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.card:hover .card_cover svg {
    opacity: 1;
    transform: scale(1);
}
.card_cover svg {
    position: absolute;
    display: block;
    stroke: #fff;
    width: 46px;
    height: auto;
    transition: 0.5s;
    z-index: 3;
    transform: scale(0.8);
    opacity: 0;
}
.card__add {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #151f30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color;
    cursor: pointer;
}
button:not(:disabled) {
    cursor: pointer;
}
.card__add svg {
    width: 16px;
    height: auto;
    fill: #2f80ed;
    transition: 0.5s;
}
.card:hover .card__rating {
    opacity: 1;
    transform: scale(1);
}
.card__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    height: 30px;
    width: auto;
    padding: 0 10px;
    transform: scale(0.8);
    border-radius: 10px;
    background-color: rgba(21,31,48,0.75);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
}
.card__rating svg {
    width: 16px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
    margin-right: 5px;
}
.card:hover .card__title {
    color: #2f80ed;
}
.card__title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 0.5s;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.card__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.card__list li {
    font-size: 12px;
    color: #e0e0e0;
    margin-right: 15px;
    white-space: nowrap;
}

/* Large */
.home__card {
    display: block;
    width: 290px;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}
.home__card:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
180deg
, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.9) 100%);
    opacity: 0.65;
    transition: 0.5s;
    pointer-events: none;
}
.home__card img {
    display: block; 
    position: relative;
    height: 329px;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    object-fit: cover;
}
.home__card:hover .home_cover img {
    transform: scale(1.06);
    filter:brightness(0.7)
}
.home__card:hover {
    cursor: pointer;
}
.home__card .dif {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    pointer-events: none;
}
.home__card:hover .dif h2 {
    color: #2f80ed;
}
.home__card .dif ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.home__card .dif ul li {
    font-size: 14px;
    font-weight: 400;
    color: #e0e0e0;
    line-height: 100%;
    margin-right: 20px;
}
.home__add {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #151f30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}
.home__add svg {
    width: 18px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
}
.home__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    height: 30px;
    width: auto;
    padding: 0 10px;
    transform: scale(0.8);
    border-radius: 10px;
    background-color: rgba(21,31,48,0.75);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
}
.home__rating svg {
    width: 16px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
    margin-right: 5px;
}
.home__card:hover .home__rating {
    opacity: 1;
    transform: scale(1);
}
.home__card:hover .home__add {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
@media (min-width: 1440px){
.home__card {
    width: 413.333333px;
}
}
@media (min-width: 1200px){
.home__card {
    width: 350px;
}
}
@media (min-width: 768px)
{
    .home__card {
    width: 450px;
}
.home__rating svg {
    width: 18px;
}
.home__rating {
    font-size: 14px;
}
}
@media (min-width: 576px){
    .home__card {
    width: 360px;
}
.home__add {
    top: 30px;
    left: 30px;
}
.home__card .dif {
    padding: 30px;
}
.home__card .dif h2 {
    font-size: 30px;
    
}
.home__rating {
    top: 30px;
    right: 30px;
}
    }
@media (min-width: 400px){
    .home__card {
    width: 340px;
}
}
@media (min-width: 360px){
    .home__card {
        width: 320px;
    }
    
}




@media (min-width: 768px){
.card {
    margin-top: 30px;
}
.card_cover svg {
    width: 56px;
}
.card__add {
    top: 15px;
    left: 15px;
}
.card__add svg {
    width: 18px;
}
.card__rating {
    top: 15px;
    right: 15px;
    font-size: 14px;
}
.card__rating svg {
    width: 18px;
    margin-bottom: 1px;
}
.card__title {
    margin-top: 15px;
    font-size: 17px;
}
}