.Card {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 19px;
  overflow: hidden;
}
.Card > .badges {
  display: flex;
  visibility: hidden;
  left: 15px;
  position: absolute;
  top: 22px;
  width: 90%;
  justify-content: space-between;
}
.Card > .badges > .bookmark img {
  width: 20px;
  height: 30px;
  object-fit: contain;
  color: blue;
}
.Card > .badges > .bookmark {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #151f30;
  border-radius: 10px;
 }
 .Card > .badges > .rating{
   padding: 0 10px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 30px;
   border-radius: 10px;
   background-color: rgba(21,31,48,0.75);
 
 }
.Card > .badges > .rating img {
  width: 20px;
  height: 30px;
}
.Card > img:hover ~ .badges {
  visibility: visible;
}

.Card .bookmarkIcon,
.Card .ratingIcon {
  color: blue;
}
.Card .playButton {
  position: absolute;
  visibility: hidden;
  top: 80px;
  left: 100px;
  max-width: 100px;
  max-height: 100px;
}

.Small:hover .Small > .playButton {
  visibility: visible;
}
.ratingNumber {
  margin-left: 5px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.Card img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  transition: 0.3s;
  display: block;
  box-sizing: border-box;
  filter: brightness(0.6);
  object-fit: cover;
}
.Card > .wrapper {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.Card img:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-radius: inherit;
}
.Card > .movieInfo {
  position: absolute;
  bottom: 5%;
  max-width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}
.Card > .movieInfo > .title {
  font-size: 20pt;
  line-height: 1.3;
}
.Card > .movieInfo > .otherData {
  display: flex;
  justify-content: space-between;
  font-size: 15pt;
  max-width: 80%;
}
.Small {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
 
  flex-direction: column;
  justify-content: space-between;
}
.Small>img {
  width: 100%;
  height: 80%;
  border-radius: 16px;
  object-fit: cover;
  transition: all 0.4s ease-out;
}
.Small .playButton {
  position: absolute;
  top: 35%;
  left: 55%;
  width: 80px;
  height: 80px;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.Small > .movieInfo {
  line-height: 1.6;
  color: white;
  width: 100%;
}
.Small > .movieInfo > .title {
  font-size: 12pt;
}
.Small > .movieInfo > .otherData {
  font-size: 10pt;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
.Small:hover {
  cursor: pointer;
}
.Small:hover .CardImg{
  filter: blur(3px);
  overflow: hidden;
  transform: scale(1.08);
}
.Small:hover  .playButton {
  visibility: visible;
}

.Small:hover  .badges {
  visibility: visible;
}
.Small > .badges {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 4px;
  left:10px;
  width: 90%;
  transition: 0.3s ease-in;
}
.Small > .badges > .bookmark {
 display: flex;
 width: 30px;
 height: 30px;
 justify-content: center;
 align-items: center;
 background-color: #151f30;
 border-radius: 10px;
}
.Small > .badges > .rating{
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(21,31,48,0.75);

}
