.Pagination {
    display:flex;
    width: fit-content;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin:30px;
    max-height: 42px;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid white;
    
}
.Pagination::-webkit-scrollbar
.Box {
    width: 40px;
    height: 40px;
    display: flex;
    font-weight: 600;
    font-size: 13pt;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #001c31;
}
.Box:hover {
    background-color: #002166;
}
.Current {
    width: 40px;
    height: 40px;
    display: flex;
    font-weight: 600;
    font-size: 13pt;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#003355;
}
.Current:hover {
    background-color: #002166;
}