.Header {
    width: 100%;
    padding: 0px;
    border: 1px solid red;
    }


.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  padding: 0;
}
.SideDrawer {
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  z-index: 500;
  padding: 20px;
  background-color: rgb(11, 0, 58);
}
.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;

  padding: 15px;
}
.dots {
  display: flex;
  width: 20px;
  justify-content: space-between;
  margin-right: 100px;
  margin-top: 10px;
  position: absolute;
  right: 10px;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

.searchbar,
.searchVisible {
  outline: none;
  box-shadow: none;
  color: white;
  padding: 8px;
  width: 220px;
  border-radius: 8px;
  background-color: rgb(48, 63, 79);
  border: none;
  background-image: url("https://purepng.com/public/uploads/large/search-icon-lob.png");
  background-position: 95% 2px;
  background-size: 25px 25px;

  background-repeat: no-repeat;
}
.searchbar::placeholder {
  color: white;
}
.NavItem {
  font-size: 11pt;
  display: flex;
  align-items: center;
  margin: 10px;
  color: white;
}
.NavItem > .dot {
  margin-top: 3px;
  margin-left: 2px;
}
.NavItems {
  display: none;
  width: 500px;
  justify-content: space-between;
}
.Auth {
  margin: 10px;
  width: 100px;
  display: none;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.icon > img {
  width: 20px;
  height: 20px;
}
.Logo {
  font-size: 20pt;
  display: none;
  font-weight: 600;
}
.dots:hover .dot {
  background-color: blue;
  cursor: pointer;
  transform: scale(1.1);
  transition: 2ms;
}
.livedot {
  width: 5px;
  height: 5px;
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 3px;
  background-color: rgb(209, 32, 32);
}
.livedot::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 1px solid red;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
}
.tv {
  font-size: 14pt;
  font-weight: 400;
  color: rgb(59, 59, 255);
}
.searchIcon {
  display: block;
  width: 40px;
  height: 40px;
}

@media (min-width: 601px) {
  .Header {
    width: 100%;
    padding: 0px;
  }
  .Navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    align-items: center;
    padding: 15px;
  }
  .dots {
    display: flex;
    width: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    margin-top: 3.5px;
    position: relative;
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
  }
  .Backdrop {
    display: none;
  }

  .searchbar,
  .searchVisible {
    outline: none;
    box-shadow: none;
    color: white;
    padding: 8px;
    width: 250px;
    border-radius: 8px;
    background-color: rgb(48, 63, 79);
    border: none;
    background-image: url("https://purepng.com/public/uploads/large/search-icon-lob.png");
    background-position: 95% 2px;
    background-size: 25px 25px;
    position: relative;
    background-repeat: no-repeat;
  }
  .searchbar::placeholder {
    color: white;
  }
  .NavItem {
    font-size: 11pt;
    display: flex;
    align-items: center;
    color: white;
  }
  .NavItem > .dot {
    margin-top: 3px;
    margin-left: 2px;
  }
  .NavItems {
    display: flex;
    width: 500px;
    justify-content: space-between;
  }
  .Auth {
    margin: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .icon > img {
    width: 20px;
    height: 20px;
  }
  .Logo {
    font-size: 20pt;
    display: block;
    font-weight: 600;
  }
  .dots:hover .dot {
    background-color: blue;
    cursor: pointer;
    transform: scale(1.1);
    transition: 2ms;
  }
  .livedot {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 3px;
    background-color: rgb(209, 32, 32);
  }
  .livedot::after {
    content: "";
    position: absolute;
    z-index: -1;
    border: 1px solid red;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
  }
  .tv {
    font-size: 14pt;
    font-weight: 400;
    color: blue;
  }
  .burger {
    display: none;
  }
  .SideDrawer {
    display: none;
  }
  .searchIcon {
    display: none;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 460px) and (max-width: 950px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .Header {
    width: 100%;
  }
  .Logo {
    display: block;
  }
  .Auth {
    display: flex;
    margin-left: 0;
    padding: 0;
  }
  .searchbar {
    width: 120%;
  }
  .searchIcon {
    display: none;
  }
}

@media (max-width: 450px) {
  .Navbar {
    min-width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchbar {
    min-width: 240px;
    display: none;
  }
  .burger{
      margin-left: 0px;
  }
  .searchVisible {
    outline: none;
    box-shadow: none;
    color: white;
    padding: 8px;
    width: 250px;
    border-radius: 8px;
    background-color: rgb(48, 63, 79);
    border: none;
    background-image: url("https://purepng.com/public/uploads/large/search-icon-lob.png");
    background-position: 95% 2px;
    background-size: 22px 22px;
    position: relative;
    margin-top: 3%;
    background-repeat: no-repeat;
  }
  .searchIcon {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .searchIcon img {

    width: 70%;
    height:70%;
  }
}
