.Header {
    width: 100%;
    padding: 0px;
  
    }

.buttonVisible,.buttonNotVisible {
   position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 10px;
    border: none;
    background-color: #151f30;
}
.NavItem:hover {
  cursor: pointer;
 color : #1122dd
}
.searchButton {
  visibility: hidden;
}
.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  padding: 0;
}
.SideDrawer {
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  z-index: 500;
  padding: 20px;
  background-color: rgb(11, 0, 58);
}
.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;

  padding: 15px;
}
.dots {
  display: flex;
  width: 20px;
  justify-content: space-between;
  margin-right: 100px;
  margin-top: 10px;
  position: absolute;
  right: 10px;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

.searchbar,
.searchVisible {
  outline: none;
  box-shadow: none;
  color: white;
  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #151f30;
  justify-self: center;
  align-self: center;
  margin-left: 40px;
  border: none;
 

}
.searchbar::placeholder {
  color: white;
}
.NavItem {
  font-size: 11pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  color: white;
}
.NavItem  .dot {
  margin-top: 3px;
  margin-left: 4px;
}

.NavItems {
  display: none;
  margin-right: 15px;
  width: 600px;
  justify-content: space-between;
}
.Auth {
  margin: 10px;
  width: 100px;
  display: none;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.icon > img {
  width: 20px;
  height: 20px;
}
.Logo {
  font-size: 20pt;
  display: none;
  font-weight: 600;
}
.dots:hover .dot {
  background-color: blue;
  cursor: pointer;
  transform: scale(1.1);
  transition: 2ms;
}
.livedot {
  width: 5px;
  height: 5px;
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 3px;
  background-color: rgb(209, 32, 32);
}
.livedot::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 1px solid red;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
}
.tv {
  font-size: 14pt;
  font-weight: 400;
  color: rgb(59, 59, 255);
}
.searchIcon {
  display: block;
  width: 40px;
  height: 40px;
}
@media(min-width: 1000px){
  .NavItems{
    width: 600px;
  }
  .NavItem:hover {
    cursor: pointer;
   color : #1122dd
  }
}
@media (min-width: 800px) {
  .Header {
    width: 100%;
    height: 100px;
    padding: 0px;
  }
  .buttonVisible, .buttonNotVisible{
     position: absolute;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 10px;
     top: 0;
     right: 0;
     width: 20px;
     height: 20px;
     
 }
 .NavItem:hover {
  cursor: pointer;
 color : #1122dd
}
 .searchButton {
   visibility: hidden;
 }
  .Navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    padding: 15px;
  }
  .dots {
    display: flex;
    width: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    margin-top: 3.5px;
    position: relative;
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
  }
  .Backdrop {
    display: none;
  }

  .searchbar,
  .searchVisible {
    outline: none;
    box-shadow: none;
    color: white;
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #151f30;;
    border: none;
    justify-self: center;
    align-self: center;
    margin-left: 40px;
  
  }
  .searchbar::placeholder {
    color: white;
  }
  .NavItem {
    font-size: 11pt;
    display: flex;
    align-items: center;
    color: white;
  }
  .NavItem > .dot {
    margin-top: 3px;
    margin-left: 4px;
  }
  .NavItems {
    display: flex;
    margin-right: 15px;
    width: 600px;
    justify-content: space-between;
  }
  .Auth {
    margin-left: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .icon > img {
    width: 20px;
    height: 20px;
  }
  .Logo {
    font-size: 20pt;
    display: block;
    font-weight: 600;
  }
  .dots:hover .dot {
    background-color: #007bff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 2ms;
  }
  .livedot {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 4px;
    background-color: rgb(209, 32, 32);
  }
  .livedot::after {
    content: "";
    position: absolute;
    z-index: -1;
    border: 1px solid red;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;
  }
  .tv {
    font-size: 14pt;
    font-weight: 400;
    color: #007bff
  }
  .burger {
    display: none;
  }
  .SideDrawer {
    display: none;
  }
  .searchIcon {
    display: none;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 451px) and (max-width: 950px) {
  .buttonVisible, .buttonNotVisible{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    
}
 
  .Navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .Header {
    width: 100%;
  }
  .Logo {
    display: block;
    margin-left: 5px;
  }
  .Auth {
    display: flex;
    margin-left: 20px;
    padding: 0;
  }
  .searchIcon {
    display: none;
  }
  .searchbar{
    width: 200px;
    margin-left: 15px;
    align-self: center;
    justify-self: center;
    
  }
  .searchWrapper {
    width: 200px;
  }
  .burger{
    margin-right: 13px;
  }
}

@media (max-width: 450px) {
  .Navbar {
    min-width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Logo {
    display: block;
    margin-left: 20px;
  }
   .searchbar {
    min-width: 240px;
    display: none;
    
  }
  .burger{
      margin-left: 0px;
  }
  .searchVisible {
    outline: none;
  box-shadow: none;
  color: white;
  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #151f30;
  margin-left: 40px;
  border: none;
  

  }
  .invisible {
    display: none;
  }

  .searchIcon {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .searchWrapper{
    margin: 10px;
  }
  .Auth {
    display: none;
  }
  .buttonVisible{
 
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
    
  }
  .buttonNotVisible{
    visibility: hidden;
  }
  .SearchForSmall{
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
}
