.Header {
    width: 100%;
    padding: 0px;
}
.Navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    align-items: center;
  
    padding: 15px;

}
.dots {
    display: flex;
    width: 20px;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 10px;
    
}
.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:white
}

.searchbar{
    outline: none;
    box-shadow: none;
    color: white;
    padding: 8px;
    width: 250px;
    border-radius: 8px;
    background-color: rgb(48, 63, 79);
    border: none;
    background-image: url('https://purepng.com/public/uploads/large/search-icon-lob.png');
    background-position: 95% 2px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
.searchbar::placeholder{
    color: white;
}
.NavItem {
    font-size: 11pt;
    display: flex;
    align-items:center;
    color: white;
}
.NavItem>.dot{
    margin-top: 3px;
    margin-left: 2px;
}
.NavItems {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.Auth {
    margin: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.icon > img {
    width: 20px;
    height: 20px;
}
.Logo{
    font-size: 20pt;
    
    font-weight: 600;
}
.dots:hover .dot{
    background-color: blue;
    cursor: pointer;
    transform: scale(1.1);
    transition: 2ms;
}
.livedot{
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 3px;
    background-color:rgb(209, 32, 32)
}
.livedot::after {
    content: "";
    position:absolute;
    z-index: -1;
    border: 1px solid red;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50%;

}
.tv{
    font-size: 14pt;
    font-family: monospace;
    font-weight: 400;
    color: blue;
}